<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>addUsers</title>
    <link type="text/css" rel="stylesheet" href="../layui/css/layui.css">
</head>
<body>
<form class="layui-form" action="" id="form">
    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
            <input type="text" name="uname" lay-verify="title" autocomplete="off"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">消费类型</label>
        <div class="layui-input-block">
            <input type="text" name="cost" lay-verify="title" autocomplete="off"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">消费时间</label>
        <div class="layui-input-block">
            <input id="test3" type="text" name="time" lay-verify="title" autocomplete="off"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">消费地点</label>
        <div class="layui-input-block">
            <input type="text" name="location" lay-verify="title" autocomplete="off"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">实际支付</label>
        <div class="layui-input-block">
            <input type="text" name="pay" lay-verify="title" autocomplete="off"  class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <button id="sub" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
    <script type="text/javascript" src="../layui/layui.js"></script>
    <script type="text/javascript" src="../js/cost.js"></script>
</form>
</body>
</html>