<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>addUsers</title>
    <link type="text/css" rel="stylesheet" href="../layui/css/layui.css">
</head>
<body>
<form class="layui-form" action="" id="biaodan">
    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
            <input type="text" name="name" lay-verify="title" autocomplete="off"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">性别</label>
        <div class="layui-input-block">
            <input type="text" name="sex" lay-verify="title" autocomplete="off"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">寝室号</label>
        <div class="layui-input-block">
            <input type="text" name="dormi" lay-verify="title" autocomplete="off"  class="layui-input">
        </div>
    </div>


    <!--<div class="layui-form-item">-->
    <div class="layui-form-item">
        <label class="layui-form-label">头像</label>
        <div class="layui-input-block">
            <input type="text" id="audio_url"  name="pid" class="layui-input" placeholder="文件名称"   value=""/>

            <button type="button" class="layui-btn" id="upload1">选择图片</button>

            <button type="button" class="layui-btn" id="uu">确定</button>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button id="sub" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>

    <script type="text/javascript" src="../layui/layui.js"></script>
    <script type="text/javascript" src="../js/user.js"></script>
</form>
</body>
</html>